<div id="bottom-menu">
    <a routerLink="" class="bottom-menu-item" routerLinkActive="active-route">
        <div>
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </div>
    </a>
    <a routerLink="/voucher" class="bottom-menu-item" routerLinkActive="active-route">
        <div>
            <i class="fa-solid fa-receipt"></i>
            <span>Voucher</span>
        </div>
    </a>
    <a routerLink="/wallet" class="bottom-menu-item" routerLinkActive="active-route">
        <div>
            <i class="fa-solid fa-wallet"></i>
            <span>Wallet</span>
        </div>
    </a>
    <a routerLink="/settings" class="bottom-menu-item" routerLinkActive="active-route">
        <div>
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </div>
    </a>
</div>