<div id="bottom-menu">
    <a routerLink="/" class="bottom-menu-item" routerLinkActive="active-route">
        <img src="assets/icons/home-icon.svg">
        <span>Home</span>
    </a>
    <a routerLink="/" class="bottom-menu-item" routerLinkActive="active-route">
        <img src="assets/icons/voucher-icon.png">
        <span>Voucher</span>
    </a>
    <a routerLink="/" class="bottom-menu-item" routerLinkActive="active-route">
        <img src="assets/icons/wallet-icon.png">
        <span>Wallet</span>
    </a>
    <a routerLink="/" class="bottom-menu-item" routerLinkActive="active-route">
        <img src="assets/icons/settings-icon.png">
        <span>Settings</span>
    </a>
</div>