#bottom-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: white;
    z-index: 2;

    a.bottom-menu-item {
        text-decoration: none;
        flex-direction: column;
        position: relative;
        width: calc(25% - 10px);
        align-items: center;
        justify-content: center;

        i {
            height: 25px;
            width: 25px;
            font-size: 20px;
            display: block;
            color: #a7a8ae;
            margin: auto;
        }

        span {
            display: block;
            color: #a7a8ae;
            margin-top: 5px;
            font-size: 14px;
            text-align: center;
        }
    }
    .active-route {
        div {
            i, span {
                color: #4dab97;
            }
        }
    }
}