<ngb-carousel #carousel [interval]="0" [showNavigationArrows] = "false">
    <ng-template ngbSlide>
        <div class="middle-menu">
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-bars"></i>
                    <div class="text">Category</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-plane-up"></i>
                    <div class="text">Flight</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-file-invoice"></i>
                    <div class="text">Bill</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-globe"></i>
                    <div class="text">Data Plan</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-circle-dollar-to-slot"></i>
                    <div class="text">Top Up</div>
                </div>
            </a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="middle-menu">
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-bars"></i>
                    <div class="text">Category</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-plane-up"></i>
                    <div class="text">Flight</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-file-invoice"></i>
                    <div class="text">Bill</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-globe"></i>
                    <div class="text">Data Plan</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-circle-dollar-to-slot"></i>
                    <div class="text">Top Up</div>
                </div>
            </a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="middle-menu">
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-bars"></i>
                    <div class="text">Category</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-plane-up"></i>
                    <div class="text">Flight</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-file-invoice"></i>
                    <div class="text">Bill</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-globe"></i>
                    <div class="text">Data Plan</div>
                </div>
            </a>
            <a class="middle-menu-item">
                <div class="icon">
                    <i class="fa fa-circle-dollar-to-slot"></i>
                    <div class="text">Top Up</div>
                </div>
            </a>
        </div>
    </ng-template>
</ngb-carousel>
  