#product-list-component {

    #product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;

        .product-list-item {
            width: calc(50% - 10px);

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}