#product-list-component {
    background: #fbfbfb;
    padding: 20px;

    #header-see-more-wrap {
        display: flex;
        justify-content: space-between;
        p {
            color: #59ac97;
        }
    }

    #product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;

        .product-list-item {
            width: calc(50% - 10px);

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}